.title{
    text-align:center;
}

body{
    background: #c7d0e0;
}
td{
    padding: 5px 5px 5px 5px;
}
h2{
    font-family: 'Oswald';
}
table, th, td {
    border: 1px solid #5c6a82;
}

.expenses{
    margin:0 auto;

}

.links{
    text-align:center;
    padding: 15px;
}