<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <title>Current Month Expenses</title>


</head>
<body>
<table>
    <div th:if = "${expenses.size() > 0 }">
        <h2> Budget for the month of <span th:text="${month}"/> </h2>
        <tr>
            <th>Type</th>
            <th>Amount</th>
            <th>Purchased On</th>

        </tr>
        <tr th:each="expense : ${expenses}">
            <td th:text= "${expense.expenseName}"></td>
            <td th:text= "${expense.amount}"></td>
            <td th:text= "${expense.createdOn}"></td>
        </tr>
    </div>

    <div th:if = "${expenses.size() == 0 }">
        <h2 th:inline = "text">No Data Available for [[#{month}]]</h2>
    </div>

</table>
</body>
</html>