<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../static/css/style.css" th:href="@{/css/form.css}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <title>New Expense</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Add New Expense</h1>
<h4>If expense put negative and if paycheck put positive</h4>
<form action="#" th:action="@{/newbill}" th:object="${expense}" method="post">
    <label>type:</label>
    <input type="text" th:field="*{expenseName}" />
    <br>
    <label>amount:</label>
    <input type="text" th:field="*{amount}" />
    <br>
    <input type="submit" value="Submit" /> <input type="reset" value="Reset" />
</form>
</body>
</html>